parameters:
    sourceNamespace: Your\Source\Namespace
    allowedExceptionNamespace: Your\Exception

services    :
    -
        class: Hpatoio\PHPStan\Rules\CheckExceptionInNamespace
        arguments:
            sourceNamespace: %sourceNamespace%
            allowedExceptionNamespace: %allowedExceptionNamespace%
        tags:
            - phpstan.rules.rule